<div class="bg-light h-100 container p-4 overflow-auto" style="min-height:84vh; max-height: 84vh;">
    <div class=" row shadow p-3 mb-3 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">Vacation ID</p>
            <p class="mb-0">UserID</p>
            <p class="mb-0">Username</p>
            <p class="mb-0">Type</p>
            <p class="mb-0">start date - enddate</p>
            <p class="mb-0"> no.of days</p>
        </div>

        <div class="col align-self-center d-flex justify-content-end">
            <button class="btn btn-outline-success mr-3">Approve</button>
            <button class="btn btn-outline-danger">Reject</button>
        </div>
    </div>
    <div class=" row shadow p-3 mb-3 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">Vacation ID</p>
            <p class="mb-0">UserID</p>
            <p class="mb-0">Username</p>
        </div>
        <div class="col align-self-center d-flex justify-content-end">
            <button class="btn btn-outline-success mr-3">Approve</button>
            <button class="btn btn-outline-danger">Reject</button>

        </div>
    </div>
    <div class=" row shadow p-3 mb-3 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">Vacation ID</p>
            <p class="mb-0">UserID</p>
            <p class="mb-0">Username</p>
        </div>
        <div class="col align-self-center d-flex justify-content-end">
            <button class="btn btn-outline-success mr-3">Approve</button>
            <button class="btn btn-outline-danger">Reject</button>
        </div>
    </div>
    <div class=" row shadow p-3 mb-3 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">Vacation ID</p>
            <p class="mb-0">UserID</p>
            <p class="mb-0">Username</p>
        </div>
        <div class="col align-self-center d-flex justify-content-end">
            <button class="btn btn-outline-success mr-3">Approve</button>
            <button class="btn btn-outline-danger">Reject</button>
        </div>
    </div>
    <div class=" row shadow p-3 mb-3 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">Vacation ID</p>
            <p class="mb-0">UserID</p>
            <p class="mb-0">Username</p>
        </div>
        <div class="col align-self-center d-flex justify-content-end">
            <button class="btn btn-outline-success mr-3">Approve</button>
            <button class="btn btn-outline-danger">Reject</button>
        </div>
    </div>
    <div class=" row shadow p-3 mb-3 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">Vacation ID</p>
            <p class="mb-0">UserID</p>
            <p class="mb-0">Username</p>
        </div>
        <div class="col align-self-center d-flex justify-content-end">
            <button class="btn btn-outline-success mr-3">Approve</button>
            <button class="btn btn-outline-danger">Reject</button>
        </div>
    </div>
</div>