<div class="bg-light h-100 container p-4 overflow-auto" style="min-height:84vh; max-height: 84vh;">
    <form class="form-group  d-flex justify-content-end gap flex-wrap flex-lg-nowrap">
        <div class="input-group">
            <label class="input-group-text" for="startdate">Start date</label>
            <input class="form-control" placeholder="Start date" name="startdate" id="startdate" type="date">
        </div>
        <div class="input-group">
            <span class="input-group-text">End date</span>
            <input class="form-control" placeholder="End date" name="enddate" id="enddate" type="date">
        </div>
        <div class="d-flex justify-content-end w-100">
            <button type="button" class="btn btn-outline-primary"> Apply</button>
        </div>
    </form>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>

</div>