<div class="btn-group d-flex justify-content-end" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" [class.active]="state==='Today'"
        (click)="getTeamStatusBy('Today')">Today</button>
    <button type="button" class="btn btn-outline-primary" [class.active]="state==='Week'"
        (click)="getTeamStatusBy('Week')">This Week</button>
</div>
<div class="bg-light h-100 container p-4 overflow-auto" style="min-height:84vh; max-height: 84vh;" >
    <div class="row shadow-sm p-3 mb-2 bg-white rounded" *ngFor="let status of usersStatus">
        <div class="col-8">
            <p class="mb-0">{{status.user.id}}</p>
            <p class="mb-0">{{status.user.name}}</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end " [innerText]="status.status"></p>
    </div>
    
    
    

</div>