<div class="bg-light h-100 container p-4 overflow-auto" style="min-height:84vh; max-height: 84vh;">

    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>
    <div class="row shadow-sm p-3 mb-2 bg-white rounded">
        <div class="col-8">
            <p class="mb-0">User ID</p>
            <p class="mb-0">Username</p>
        </div>
        <p class="mb-0 col align-self-center d-flex justify-content-end ">Status</p>
    </div>

</div>